@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&display=swap');

body{
  margin: 10px 80px;
  font-family: 'Noto Sans JP', sans-serif;
   background: url(nature.jpg); 

}
nav {
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
}
nav h1{
  font-family: 'Crimson Text', serif;
  font-size: 30px;
}
nav .onglets{
  margin-top: 35px;
}
nav .onglets a{
  text-decoration: none;
  color:#000000;
  margin-right: 10px;
}
h1{
	font-family: 'Crimson Text', serif;
  	font-size: 100px;
    text-align: center;

  	}
h2{
  font-family: 'Crimson Text', serif;
    font-size: 50px;
    text-align: center;

    }
footer {
  margin-top: 300px;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  color: #494949;
}
footer h2{
  font-size: 20px;
  font-family: 'Crimson Text', serif;
  margin-top: 20px;
}
footer .social-media{
  display:flex;
}
footer .social-media p{
  font-size: 18px;
  margin-right: 20px;
}

	
